

h1 {
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-style: italic;
   font-family: Baskerville, 'Times New Roman', serif;
   text-align: center;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  h2 {
    text-align: left;
    padding: 20px 0;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
  
  }

 

 

  #logo2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
 

  
  }

  #logo1 {
    display: inline-block;
    width: 40px;
    height: 30px;
    padding: 5px;
 

  
  }



body {
    font-size: 20px;
    margin-left: 150px;

 }

 :visited { 
    text-decoration: none; 
    color: black; 
   }

   .bar {

    width:80% !important;
    margin:0px auto;
    left:0;
    right:0;
    padding:0;

    
   
   }

   

  .text {
    padding: 20px;
  }




.wrapper {

  width: 80%;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  color: azure;

  background: url("./BLack.jpg")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}


.selfie {
  display: inline-block;
  margin-left: 50px;
  margin-right: auto;
  border: 5px solid;
  border-color: aliceblue;
  margin-top: 50px;
  margin-bottom: 50px;
  }