

h1 {
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-style: italic;
   font-family: Baskerville, 'Times New Roman', serif;
   text-align: center;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  h2 {
    text-align: left;
    padding: 20px 0;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
  
  }

 

 

  #logo2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
 

  
  }

  #logo1 {
    display: inline-block;
    width: 40px;
    height: 30px;
    padding: 5px;
 

  
  }



body {
    background: url("./BLack.jpg")no-repeat center center fixed; 
    background-size: cover ;
background-repeat: no-repeat ;

 }



.wrapper {

  width: 80%;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  color: azure;
  background-color: rgba(0, 0, 0, 0.692);


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 40px;
  padding-top: 5px;
  padding-left: 20px;

}


.selfie {
  display: inline-block;
  margin-left: 50px;
  margin-right: auto;
  border: 5px solid;
  border-color: aliceblue;
  margin-top: 50px;
  margin-bottom: 50px;
  }

  :visited { 
    text-decoration: none; 
    color: black; 
   }
  
   .navbar {
    background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
   }
   
   .dropdown-item {
    color: white;
   }
  
   .collapse ul li a{
    color:white;
  }
  
  .navbar-brand{ 
    color:white;
  }
  
  .nav-link{
    color: white;
  }

 